In [2]:
import pandas as pd
import numpy as np
import requests
import pprint
import sidrapy
import warnings 
warnings.simplefilter("ignore")

In [56]:
df = pd.read_excel("Tabela 1612.xlsx")

In [57]:
df["Município"] = df["Município"].fillna(method = 'ffill')

In [58]:
df.head()

,Município,Ano,Área plantada (Hectares),Área colhida (Hectares),Quantidade produzida (Toneladas),Rendimento médio da produção (Quilogramas por Hectare),Valor da produção (Mil Reais)
0,Aceguá (RS),2002.0,100,100,126,1260,55
1,Aceguá (RS),2003.0,750,750,945,1260,624
2,Aceguá (RS),2004.0,750,750,945,1260,650
3,Aceguá (RS),2005.0,2000,2000,480,240,204
4,Aceguá (RS),2006.0,2000,2000,2400,1200,920

In [59]:
df = df.replace("-", np.nan)
df = df.replace("X", np.nan)
df = df.replace("...", np.nan)
df = df.replace("..", np.nan)

In [ ]:
df.rename({
    'Área plantada (Hectares)':
    'Área colhida (Hectares)':
    'Quantidade produzida (Toneladas)':
    'Rendimento médio da produção (Quilogramas por Hectare)':
    'Valor da produção (Mil Reais)':
})

,Município,Ano,Área plantada (Hectares),Área colhida (Hectares),Quantidade produzida (Toneladas),Rendimento médio da produção (Quilogramas por Hectare),Valor da produção (Mil Reais)
0,Aceguá (RS),2002.0,100.0,100.0,126.0,1260.0,55.0
1,Aceguá (RS),2003.0,750.0,750.0,945.0,1260.0,624.0
2,Aceguá (RS),2004.0,750.0,750.0,945.0,1260.0,650.0
3,Aceguá (RS),2005.0,2000.0,2000.0,480.0,240.0,204.0
4,Aceguá (RS),2006.0,2000.0,2000.0,2400.0,1200.0,920.0

Calcular a diferença entre áreas plantadas e colhidas

In [61]:
df["delta_area"] = df['Área plantada (Hectares)'] - df['Área colhida (Hectares)']

Calcular o valor médio da saca de soja

In [17]:
mer['valor_saca'] = (mer['valor_mil(R$)'] / ((mer['producao(t)'] / 60))).round(2)

In [18]:
mer.columns

Index(['area_plantada(ha)', 'Unidade da Federação (Código)',
       'Unidade da Federação', 'Ano', 'Produto das lavouras temporárias',
       'area_colhida(ha)', 'delta_area', 'producao(t)', 'produtividade(kg/ha)',
       'valor_mil(R$)', 'valor_saca'],
      dtype='object', name=0)

In [19]:
mer = mer[[ 'Ano', 'Unidade da Federação', 'Produto das lavouras temporárias', 'area_plantada(ha)',
       'area_colhida(ha)', 'delta_area', 'producao(t)', 'produtividade(kg/ha)', 'valor_mil(R$)', 'valor_saca']]

In [20]:
mer.to_csv("soja_IBGE_RS.csv")

In [21]:
mer = pd.read_csv("soja_IBGE_RS.csv")

In [22]:
mer["var_produtividade"] = mer["produtividade(kg/ha)"].diff()
mer["var_produtividade_%"] = mer["produtividade(kg/ha)"].pct_change()
mer["var_producao(t)"] = mer["produtividade(kg/ha)"].diff()
mer["var_producao(t)_%"] = mer["produtividade(kg/ha)"].pct_change()

In [23]:
mer.head()

,Unnamed: 0,Ano,Unidade da Federação,Produto das lavouras temporárias,area_plantada(ha),area_colhida(ha),delta_area,producao(t),produtividade(kg/ha),valor_mil(R$),valor_saca,var_produtividade,var_produtividade_%,var_producao(t),var_producao(t)_%
0,0,2000,Rio Grande do Sul,Soja (em grão),3030556.0,3001836.0,-28720.0,4783895.0,1593.0,1385502.0,17.38,NaN,NaN,NaN,NaN
1,1,2001,Rio Grande do Sul,Soja (em grão),2976498.0,2974513.0,-1985.0,6951830.0,2337.0,2381513.0,20.55,744.0,0.467043,744.0,0.467043
2,2,2002,Rio Grande do Sul,Soja (em grão),3307252.0,3295342.0,-11910.0,5610518.0,1702.0,2477854.0,26.50,-635.0,-0.271716,-635.0,-0.271716
3,3,2003,Rio Grande do Sul,Soja (em grão),3591970.0,3591470.0,-500.0,9579297.0,2667.0,5434779.0,34.04,965.0,0.566980,965.0,0.566980
4,4,2004,Rio Grande do Sul,Soja (em grão),3984337.0,3968530.0,-15807.0,5541714.0,1396.0,3804582.0,41.19,-1271.0,-0.476565,-1271.0,-0.476565

# Importar as variáveis climátivas

# Upload do histórico da variação da temperatura média da superfícia do Oceano Pacífico

Os eventos de El Nino e La nina ocorrem quando há 5 ocorrências de temperaturas 0,5 acima (El Niño) ou abaixo (La Niña) do padrão. Os dados disponíveis nesse dataset

Estudos mostraram que uma condição necessária para o desenvolvimento e persistência da convecção profunda (aumento da nebulosidade e da precipitação) nos Trópicos é que a temperatura da superfície do mar (SST) local seja de 28 °C ou superior. Uma vez que o padrão de convecção profunda é alterado devido a SSTs anômalas, a circulação atmosférica tropical e subtropical se ajusta ao novo padrão de aquecimento tropical, resultando em padrões anômalos de precipitação e temperatura que se estendem muito além da região do Pacífico equatorial. Uma anomalia de SST de +0,5 °C na região do Niño 3.4 é suficiente para atingir esse limite entre o final de março e meados de junho. Durante o restante do ano, uma anomalia de SST maior, chegando a +1,5 °C nos meses de novembro, dezembro e janeiro, é necessária para atingir o limiar que sustenta a convecção profunda persistente nessa região.

In [27]:
enso = pd.read_excel("Temp_media_2010_2025.xlsx")

### Aplicando os ajustes para fazer a fusão entre as bases do IBGE e do NOOA

In [28]:
mer.shape[0]

24

In [29]:
enso.Year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022, 2023, 2024, 2025], dtype=int64)

In [30]:
enso.rename(columns = {"Year": "Ano"}, inplace = True)

In [31]:
mer["Ano"] = mer["Ano"].astype(int)

In [32]:
enso.columns

Index(['Ano', 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set',
       'Out', 'Nov', 'Dez', 'Media_mar_jun', 'Media_semestre_1',
       'Media_semestre_2', 'Evento_mar_jun', 'Evento_nov_dez_jan', 'ONI'],
      dtype='object')

In [33]:
mer = mer.merge(enso[["Ano", 'Media_mar_jun', 'Media_semestre_1',
       'Media_semestre_2', 'Evento_mar_jun', 'Evento_nov_dez_jan', 'ONI']], on = "Ano", how = "inner")

In [34]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

mer['Evento_mar_jun_num'] = le.fit_transform(mer['Evento_mar_jun'])
mer['Evento_nov_dez_jan_num'] = le.fit_transform(mer['Evento_nov_dez_jan'])

In [1]:
prec = pd.read_csv("media_pluviometrica_RS.csv", sep = ";")

NameError: name 'pd' is not defined

In [36]:
mer = mer.merge(prec, on = "Ano", how = "inner")

In [37]:
mer[['delta_area', 'produtividade(kg/ha)', 'ONI']].corr()

                      delta_area  produtividade(kg/ha)       ONI
delta_area              1.000000              0.629241  0.023536
produtividade(kg/ha)    0.629241              1.000000  0.075495
ONI                     0.023536              0.075495  1.000000

In [38]:
mer[['delta_area', 'produtividade(kg/ha)', 'Evento_nov_dez_jan_num']].corr()

,delta_area,produtividade(kg/ha),Evento_nov_dez_jan_num
delta_area,1.000000,0.629241,-0.213196
produtividade(kg/ha),0.629241,1.000000,-0.020774
Evento_nov_dez_jan_num,-0.213196,-0.020774,1.000000

In [39]:
mer[['delta_area', 'produtividade(kg/ha)','Evento_mar_jun_num']].corr()

                      delta_area  produtividade(kg/ha)  Evento_mar_jun_num
delta_area              1.000000              0.629241           -0.096442
produtividade(kg/ha)    0.629241              1.000000           -0.392848
Evento_mar_jun_num     -0.096442             -0.392848            1.000000

In [47]:
mer.rename({'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)': "Precipitacao_out_mai"}, axis = 1, inplace = True)

In [48]:
mer[['delta_area', 'produtividade(kg/ha)',"Precipitacao_out_mai", 'Evento_mar_jun_num', 'Evento_nov_dez_jan_num']].corr()

,delta_area,produtividade(kg/ha),Precipitacao_out_mai,Evento_mar_jun_num,Evento_nov_dez_jan_num
delta_area,1.000000,0.629241,0.263874,-0.096442,-0.213196
produtividade(kg/ha),0.629241,1.000000,0.326429,-0.392848,-0.020774
Precipitacao_out_mai,0.263874,0.326429,1.000000,-0.023555,-0.293877
Evento_mar_jun_num,-0.096442,-0.392848,-0.023555,1.000000,0.017169
Evento_nov_dez_jan_num,-0.213196,-0.020774,-0.293877,0.017169,1.000000

In [73]:
mer.head()

,Unnamed: 0,Ano,Unidade da Federação,Produto das lavouras temporárias,area_plantada(ha),area_colhida(ha),delta_area,producao(t),produtividade(kg/ha),valor_mil(R$),...,Media_mar_jun,Media_semestre_1,Media_semestre_2,Evento_mar_jun,Evento_nov_dez_jan,ONI,Evento_mar_jun_num,Evento_nov_dez_jan_num,Precipitacao_out_mai,precipitacao_media
0,2,2002,Rio Grande do Sul,Soja (em grão),3307252.0,3295342.0,-11910.0,5610518.0,1702.0,2477854.0,...,0.350,0.216667,1.050000,Neutro,Neutro,0,2,2,5490.0,1098.00
1,3,2003,Rio Grande do Sul,Soja (em grão),3591970.0,3591470.0,-500.0,9579297.0,2667.0,5434779.0,...,-0.025,0.233333,0.283333,Neutro,Neutro,0,2,2,4847.8,969.56
2,4,2004,Rio Grande do Sul,Soja (em grão),3984337.0,3968530.0,-15807.0,5541714.0,1396.0,3804582.0,...,0.225,0.266667,0.650000,Neutro,Neutro,0,2,2,2405.4,481.08
3,5,2005,Rio Grande do Sul,Soja (em grão),4179272.0,3733822.0,-445450.0,2444540.0,654.0,1161908.0,...,0.300,0.400000,-0.333333,Neutro,Neutro,0,2,2,3215.8,643.16
4,6,2006,Rio Grande do Sul,Soja (em grão),3868501.0,3863726.0,-4775.0,7559291.0,1956.0,2893470.0,...,-0.275,-0.466667,0.583333,Neutro,Neutro,-1,2,2,4194.4,838.88

In [72]:
mer[['delta_area', 'produtividade(kg/ha)', 'Precipitacao_out_mai', 'Evento_nov_dez_jan_num', 'precipitacao_media']].corr()

,delta_area,produtividade(kg/ha),Precipitacao_out_mai,Evento_nov_dez_jan_num,precipitacao_media
delta_area,1.000000,0.629241,0.263874,-0.213196,0.263874
produtividade(kg/ha),0.629241,1.000000,0.326429,-0.020774,0.326429
Precipitacao_out_mai,0.263874,0.326429,1.000000,-0.293877,1.000000
Evento_nov_dez_jan_num,-0.213196,-0.020774,-0.293877,1.000000,-0.293877
precipitacao_media,0.263874,0.326429,1.000000,-0.293877,1.000000

### Aplicando métodos de aprendizando de máquina, começando pela regressão linear

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [62]:
X = mer[['Evento_nov_dez_jan_num']] #variável independente
y = mer[["produtividade(kg/ha)"]] #variável dependente

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 77)

In [64]:
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [65]:
y_pred = modelo.predict(X_test)

In [66]:
print(f"R²: {r2_score(y_test, y_pred):.2f}")
print(f"RMSE: {mean_squared_error(y_test, y_pred, squared=False):.2f}")

R²: -12.31
RMSE: 708.00

In [67]:
y_pred

array([[2227.27731092],
       [2164.78991597],
       [2227.27731092],
       [2227.27731092],
       [2102.30252101]])

In [ ]:
mer.head()

In [ ]:
mer["produtividade"]

In [77]:
mer[['Evento_nov_dez_jan', 'Evento_nov_dez_jan_num']]

   Evento_nov_dez_jan  Evento_nov_dez_jan_num
0              Neutro                       2
1              Neutro                       2
2              Neutro                       2
3              Neutro                       2
4              Neutro                       2
5             La nina                       1
6              Neutro                       2
7             El nino                       0
8             La nina                       1
9              Neutro                       2
10             Neutro                       2
11             Neutro                       2
12             Neutro                       2
13            El nino                       0
14             Neutro                       2
15             Neutro                       2
16             Neutro                       2
17             Neutro                       2
18             Neutro                       2
19             Neutro                       2
20            El nino                       0

In [68]:
X_test

    Evento_nov_dez_jan_num
14                       2
8                        1
1                        2
16                       2
13                       0